@font-face {
    font-family: SuperNintendo;
    src: url("./SN.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #36393E;
    position: relative;
    min-height: 100%;
}