<div id='chess-chat-div' class='chess-chat-div chess-container-item'>

    <div class='wrapper'>
        <div id='messages' class='messages'> 

        </div>
        <div class='message-sender-container'>
            
            <form class='message-sender' id='message-sender'>
                <div class='text-container'>
                    <input  type='text' id='message' autocomplete='off' required 
                    placeholder='Type your message (but be nice!)' />
                </div>
                <button id='message-submit' class='message-submit'>Send</button>
            </form>

        </div>
    </div>

</div>