<link href= "/public/stylesheets/game_list.css" rel="stylesheet" type="text/css" />

<div class="room_list">
    <div class="list_header">
        <button id="add_btn" class="add_btn">+</button>
        <%= game %> ROOM LIST
    </div>
    <div id="rooms">

    </div>
</div>