<link href= "/public/stylesheets/menu.css" rel="stylesheet" type="text/css" />

<div id="mobile_menu" class="overlay">
    <a class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <p id="mLogin">Login</p>
      <p id="mRegister">Register</p>
      <p>Info</p>
    </div>
</div>

<div class="header">
    <a href="https://deckbay.herokuapp.com/"> <img src="/public/images/logo.png"></a>
    <button class="header_button" style="right: 0;" id="register_button">Sign up</button>
    <button class="header_button" style="right: 120px;"" id="login_button">Sign in</button>
    <span class="menu" onclick="openNav()">&#9776;</span>
</div>