<link href= "/public/stylesheets/menu.css" rel="stylesheet" type="text/css" />
<link href= "/public/stylesheets/modal.css" rel="stylesheet" type="text/css" />
<link href= "/public/stylesheets/form.css" rel="stylesheet" type="text/css" />

<div id="mobile_menu" class="overlay">
    <a class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <p id="mLogin">Login</p>
      <p id="mRegister">Register</p>
      <p>Info</p>
    </div>
</div>

<header id="head" class="header">
    <a href="https://deckbay.herokuapp.com/"> <img src="/public/images/logo.png"></a>

    <button class="header_button" style="right: 0;" id="register_button">
      <%= user_login !== '' ? user_login : 'Sign up' %>
    </button>

    <button class="header_button" style="right: 120px;"" id="login_button">
      <%= user_login !== '' ? 'logout' : 'Sign in' %>
    </button>
    
    <span class="menu" onclick="openNav()">&#9776;</span>
</header>

<div id="login_modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">

        <h2>Sign in</h2>
        <span class="close">&times;</span>

    </div>
    <div class="modal-body">
      <form action="/login" name="login_form" method="POST" autocomplete="off">

          <label>Login</label>
          <input type="text" name="login" placeholder="Your login...">

          <label>Password</label>
          <input type="password" name="passwd" placeholder="Your password...">

          <input id="login_send" type="submit" value="Submit">

          <input type="hidden" id="login_reqUrl" name="reqUrl" value=""></textarea>

        </form>
    </div>
  </div>
</div>

<div id="register_modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">

        <h2>Sign up</h2>
        <span class="close">&times;</span>

      </div>
      <div class="modal-body">
        <form action="/register" name="register_form" method="POST" autocomplete="off">

            <label>Email</label>
            <input type="email" name="email" placeholder="Your email...">

            <label>Login</label>
            <input type="text" name="login" placeholder="Your login...">

            <label>Password</label>
            <input type="password" name="password" placeholder="Your password...">

            <input id="register_send" type="submit" value="Submit">

            <input type="hidden" id="register_reqUrl" name="reqUrl" value=""></textarea>

          </form>
      </div>
        <form action='/logout' id="logout" method="POST">
        <input type="hidden" id="logout_reqUrl" name="reqUrl" value=""></textarea>
      </form>
    </div>
</div>