<link href= "/public/stylesheets/modal.css" rel="stylesheet" type="text/css" />

<div id="login_modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">

          <h2>Sign in</h2>
          <span class="close">&times;</span>

      </div>
      <div class="modal-body">
        <form name="login_form" autocomplete="off">

            <label>Login</label>
            <input type="text" name="login" placeholder="Your login...">

            <label>Password</label>
            <input type="password" name="passwd" placeholder="Your password...">

            <input id="login_send" type="submit" value="Submit">

          </form>
      </div>
    </div>
</div>