<div id="<%= id %>" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
          <% if(id === 'login_modal') { %>
            <h2>Sign in</h2>
          <% } else { %>
              <h2>Sign up</h2>
          <% } %>
        <span class="close">&times;</span>
      </div>
      <div class="modal-body">
        <form action="/action_page.php" autocomplete="off">
            <% if(id === 'register_modal') { %>
                <label>Email</label>
                <input type="email" name="email" placeholder="Your email...">
            <% } %>
            <label>Login</label>
            <input type="text" name="login" placeholder="Your login...">
            <label>Password</label>
            <input type="password" name="passwd" placeholder="Your password...">
            <input type="submit" value="Submit">
          </form>
      </div>
    </div>
</div>