<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/stylesheets/page.css" rel="stylesheet" type="text/css" />
    <title>Deckbay</title>
</head>
<body class="content">

    <%- include('components/header.ejs'); %>
    <label id="room_name"><%= room_name %></label>
    
</body>
<footer>
    2020-2021 | Deckbay by GBS
</footer>

<script>
    var game_type = <%- JSON.stringify(game_type) %>;
</script>
<script src="/public/javascripts/game_room.js"></script>
<script src="/socket.io/socket.io.js"></script>
</html>