<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/stylesheets/styles.css" rel="stylesheet" type="text/css" />
    <link href= "/public/stylesheets/modal.css" rel="stylesheet" type="text/css" />
    <link href= "/public/stylesheets/menu.css" rel="stylesheet" type="text/css" />
    <link href= "/public/stylesheets/form.css" rel="stylesheet" type="text/css" />
    <title>Deckbay</title>
</head>
<body class="content">

    <%- include('components/header.ejs'); %>
    XDXDXD

</body>
<footer>
    2020-2021 | Deckbay by GBS
</footer>

<script src="/public/javascripts/new_room.js"></script>
<script src="/socket.io/socket.io.js"></script>
</html>