<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>Deckbay</title>
</head>
<body class="content">
    <div class="header">
        <a class="logo_href" href="www.google.com"> <img class="logo" src="/public/assets/logo.png"></a>
        <button class="header_button">Sign up</button>
        <button class="header_button">Sign in</button>
    </div>

    <div style="display: flex; justify-content: space-between; margin-left: 15%; margin-right: 15%; margin-top: 100px;">
            <div class="game" style="cursor: pointer;" onclick="window.location='http://google.com';">
                <a href="szachy"><img style="max-width: 100%;
                max-height: 100%;" src="/public/assets/chess_icon.png"></a>
                <p>CHESS</p>
            </div>

            <div class="game">
                <a href="szachy"><img style="max-width: 100%;
                    max-height: 100%;" src="/public/assets/checkers_icon.png"></a>
                <p>CHECKERS</p>
            </div>

            <div class="game">
                <a href="szachy"><img style="max-width: 100%;
                    max-height: 100%;" src="/public/assets/domino_icon.png"></a>
                    <p>DOMINO</p>
            </div>
    </div>
</body>
</html>