.table{
    border-spacing: 0;
    border-collapse: collapse; 
    width: 40%;
    height: 100%;
}
.checkers-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkers-table-tbody{
    height: 100%;
    width: 100%;
}
.field1{
    padding: 5px;
    width: 11%;
    height: 11%;
    background-color: gray;
    box-sizing: content-box;
    flex-grow: 1;
    padding: 1%;
    overflow: hidden;
}
.field2{
    padding: 5px;
    width: 11%;
    height: 11%;
    background-color: white;
    box-sizing: content-box;
    flex-grow: 1;
    padding: 1%;
    overflow: hidden;
}
.movefield{
    margin: 0px;
    padding: 0px;
    width: 11%;
    height: 11%;
    background-color: lightblue;
    box-sizing: content-box;
    flex-grow: 1;
    overflow: hidden;
}
.white{
    width: 80%;
    height: 80%;
    padding: 10%;
    background-color: white;
    border-radius: 50px;
}
.whiteQ{
    width: 80%;
    height: 80%;
    padding: 10%;
    background-color: white;
    border: 3px solid black;
    border-radius: 50px;
}
.black{
    width: 80%;
    height: 80%;
    padding: 10%;
    background-color: black;
    border-radius: 50px;
}
.blackQ{
    width: 80%;
    height: 80%;
    padding: 10%;
    background-color: black;
    border: 3px solid white;
    border-radius: 50px;
}
.marked{
    width: 80%;
    height: 80%;
    padding: 10%;
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
    border-radius: 50px;
}
span {
    display: inline-block;
}
.endinng{
    border: 2px solid black;
    background-color: lightgray;
}

.content{
    height: calc(100vh - 110px);
}

.checkers-container-item{
    margin: 3.5px;
}

.checkers-chat-div{
    display: flex;
    height: 100%;
    width: 30%;
}

.wrapper{
    padding: 15%;
    padding-left: 0;
    padding-right: 0;
    height: 50%;
    width: 100%;
}

.messages{
    background-color: rgb(189, 189, 189);
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    padding: 20px;
    overflow-y: auto;
    word-wrap: break-word;
}

.message-container{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.message-submit{
    margin-left: 5%;
    width: 25%;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.message-submit:focus{
    outline: none;
}
form{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 10px;
}

.meta{
    font-weight: bold;
    color:black;
}

.msg{
    color: rgb(65, 62, 61);
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

input[type=text]{
    color: black;
}

.text-container{
    width: 70%;
}

input[type=button]{
    margin-left: 10px;
    width: 150px;
    height: 70px;
    border-radius: 20px;
    background-color: black;
    color: white;
}
.checkers-buttons{
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 25%;
}

.labelNR{
    color: white;
}
.labelR{
    color: green;
}
body{
    overflow: inherit;
}


@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .table, .checkers-chat-div, .checkers-buttons {
      width:100%;
    }
    .table{
        height: 50%;
    }
    .checkers-chat-div{
        height: 70%;
    }
    .checkers-buttons{
        height: 35%;
    }
    .checkers-container{
        flex-wrap: wrap;
    }
    html{
        height: 170%;
    }
  }
  @media only screen and (max-width:1100px) {
    /* For mobile phones: */
    .table, .checkers-chat-div, .checkers-buttons {
      width:100%;
    }
    .table{
        height: 50%;
    }
    .checkers-chat-div{
        height: 70%;
    }
    .checkers-buttons{
        height: 35%;
    }
    .checkers-container{
        flex-wrap: wrap;
    }
    html{
        height: 200%;
    }
  }