input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
}
  
input[type=submit] {
    width: 100%;
    background-color: #131413;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}
  
input[type=submit]:hover {
    background-color: #5F5C5C;
}

.new_room_form {
    width: 80%;
}