@font-face {
    font-family: SuperNintendo;
    src: url(SN.ttf);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.list {
    width: 60%;
    margin-top: 70px;
}

.list_header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E3E3E;
    height: 50px;
    font-family: SN;
    font-size: calc(12px + 1vw);
    color: white;
}

.add_btn {
    position: absolute;
    left: 15px;
    font-size: calc(50px + 1vw);
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}

.new_room_div {
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: #3E3E3E;
    font-family: SN;
    font-size: calc(16px + 0.5vw);
    color: white;
}

.list_item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: white;
    cursor: pointer;
}

.list_item p {
    position: absolute;
    text-decoration: none;
    left: 10px;
    font-size: calc(16px + 0.5vw);
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

.user_img {
    padding: 10px; 
    max-width: 80%;
    max-height: 80%;
}

.lock_img {
    position: absolute; 
    right: 15px; 
    max-width: 80%; 
    max-height: 80%;
}

.ck-button {
    display: inline-block;
    background-color:black;
    border-radius:5px;
    border:1px solid #D0D0D0;
    width: 40%;
    max-width: 180px;
}

.ck-button:hover {
    background:red;
}   

.ck-button label span {
    text-align:center;
    padding:3px 0px;
    font-size: 18px;
    display:block;
}

.ck-button label input {
    position:absolute;
    top:-20px;
}

.ck-button input:checked + span {
    background-color:#911;
    color:#fff;
}

@media only screen and (max-width: 1140px) {
    .list {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    .list {
        width: 100%;
        margin-top: 0;
    }
}

@media only screen and (max-width: 650px) {
    .lock_img {
        position: relative;
        max-width: 80%; 
        max-height: 80%;
        right: 5px;
    }

    .user_img {
        padding: 0;
        max-width: 80%; 
        max-height: 80%;
    }

    .list_item {
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 400px) {
    .lock_img {
        max-width: 50%; 
        max-height: 50%;
    }

    .user_img {
        max-width: 50%; 
        max-height: 50%;
    }
}