.new_room_div {
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: #3E3E3E;
    font-family: SN;
    font-size: calc(16px + 0.5vw);
    color: white;
}

.new_room_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 70%;
    margin-left: 15%;
}

input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
}

input[type=number] {
    display: inline-block;
    height: 25px;
    text-align: center; 
    width: 40%;
    border-radius:5px;
    border:1px solid #D0D0D0;
    max-width: 180px;
}

input[type=submit] {
    width: 100%;
    background-color: #131413;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}
  
input[type=submit]:hover {
    background-color: #5F5C5C;
}