.content{
    height: calc(100vh - 110px);
}

.chess-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chess-container-item{
    margin: 3.5px;
}

.chess-board-div{
    height: 100%;
    flex: 5;
    color: burlywood;
}

.chess-board{
    width: 100%;
    height: 100%;
    padding: 6%;
}

.chess-board-tbody{
    height: 100%;
    width: 100%;
}

.chess-board td{
    width: 11%;
    height: 11%;
    text-align: center;
    font-size: 30px;
}

.chess-board th{
    height: 3px;
}

.chess-chat-div{
    display: flex;
    height: 100%;
    flex: 3;
}

.wrapper{
    padding: 15%;
    padding-left: 0;
    padding-right: 0;
    height: 73%;
    width: 100%;
}

.messages{
    background-color: rgb(189, 189, 189);
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    padding: 20px;
    overflow-y: auto;
    word-wrap: break-word;
}

.message-container{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

form{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 10px;
}

.meta{
    font-weight: bold;
    color:black;
}

.msg{
    color: rgb(65, 62, 61);
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

input[type=text]{
    color: black;
}

.text-container{
    width: 70%;
}

.message-submit{
    margin-left: 5%;
    width: 25%;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.message-submit:focus{
    outline: none;
}

.chess-info-div{
    margin-top: 2.5%;
    flex: 3;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(189, 189, 189);
    margin-top: 10%;
    margin-bottom: 3%;
    width: 50%;
    height: 20%;
}

.player-name{
    font-size: large;
}

.moves{
    background-color: rgb(189, 189, 189);
    width: calc(90% - 20px);
    height: 50%;
    overflow-y: auto;
}

.move{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.move-num{
    width: 20%;
    display: flex;
    align-items: center;
}

.move-player{
    width: 40%;
    display: flex;
    align-items: center;
}

.game-buttons-div{
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: 10%;
    justify-content: space-around;
}

.takeback-buttons-wrapper{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.restart-button{
    width: 100% !important;
    display: block;
}

.game-button{
    width: 25%;
    height: 100%;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: large;
}

.undo-button{
    display: none;
    width: 45%;
}

.undo-agree{
    background-color: rgb(31, 121, 54);
}

.undo-disagree{
    background-color: rgb(138, 30, 16);
}

.game-button:focus{
    outline: none;
}